body {
  background: radial-gradient(circle at top, #1f1f2e, #0d0d14);
  min-height: 100vh;
}

.trivia-title {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 4px;
  color: #ffffff;
  margin-top: 5%;
}

.trivia-subtitle {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 5%;
}

#trivia-container {
  background-color: #d3d3d3;
  border: 2px solid #7c4dff;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(124, 77, 255, 0.25);
  width: 60%;
  margin-left: 20%;
}

#pregunta {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 15px;
}

#progreso {
  font-size: 1.1rem;
  color: #f5c542;
}

.progress {
  height: 10px;
  background-color: #2a2a3d;
}

.progress-bar {
  background: linear-gradient(90deg, #f5c542, #7c4dff);
}

#respuesta button {
  width: 100%;
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #7c4dff;
  color: black;
}

#respuesta button:hover {
  background-color: #7c4dff;
  border-color: #f5c542;
  color: #fcfafa;
}

.timer-box {
  margin-top: 15px;
  margin-left: 90%;
  padding: 10px 10px;
  border-radius: 12px;
  border: 2px solid #f5c542;
  background-color: #1e1e2f;
  font-size: 1.1rem;
  color: #f5c542;
  width: 10%;
}

#next-button {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 12px;
}

.btn-success {
  background-color: #7c4dff;
  border: none;
}

.btn-success:hover {
  background-color: #f5c542;
  color: #000;
}