<div class="app-container">
  <header class="top-bar">
    <h1>Calendario</h1>
     <div class="actions">
      <button (click)="prevYear()">⏮ Año</button>
      <button (click)="prevMonth()">◀ Mes</button>
      <button (click)="goToday()">Ir a Hoy</button>
      <button (click)="nextMonth()">Mes ▶</button>
      <button (click)="nextYear()">Año ⏭</button>
    </div>
    <button (click)="toggleCalendar()">Mostrar/Ocultar</button>
  </header>
  
  <div class="month-header">
    <h2>{{ monthNames[currentMonth] }} {{ currentYear }}</h2>
    <button class="top-bar" (click)="searchByWeek()">Buscar por Nº de semana</button>
  </div>

  <div *ngIf="showCalendar" class="calendar-container">
    <table class="calendar">
      <thead>
        <tr>
          <th>Semana</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
          <th>Domingo</th>
        </tr>
      </thead>
      <tbody>
        @for (week of weeks; track week.number) {
          <tr>
            <td class="week-number">{{ week.number }}</td>
            @for (day of week.days; track day) {
              <td [class.today]="isToday(day)">{{ day || '' }}</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
