    body {
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to right, #03034f, #dc3545);
      padding: 40px;
      margin: 0;
    }
    h2 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 3rem;
    }
    
    .resultados-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.result-section {
  flex: 1 1 250px;
  max-width: 650px;
  min-width: 180px;
  background: linear-gradient(to top, #e0ae68, #9a575d);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  padding: 24px 18px;
  box-sizing: border-box;
}
    ul {
      padding-left: 20px;
      margin: 0;

    }
    .reiniciar-row {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.reiniciar-btn {
  font-size: 1.3rem;
  padding: 1rem 2rem;
  background-color: #343a40;
  color: #fee4c8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
    margin-bottom: 10px;
  }

    .reiniciar-btn:hover {
      background-color: #495057;
    }
