  body {
      background-color: #000f2599;
      color: #080808;
      font-family: 'Poppins', sans-serif;
    }
  
  .producto-img {
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease;
    padding: 1rem;
    background-color: #747c82;
  }

  .producto-img:hover {
    transform: scale(1.05);
  }

   footer {
      background-color: #000;
    }
  
